/**
 * Dcube theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);
@import url(http://fonts.googleapis.com/css?family=Coda);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFFFFF;

$mainFont: 'Rajdhani', sans-serif;
$mainFontSize: 32px;
$mainColor: #000000;
$mainFontWeight: 800;

$headingFont: 'Coda', Impact, sans-serif;
$headingColor: #007ACC;

$heading1Size: 3.00em;
$heading2Size: 1.70em;
$heading3Size: 0.90em;
$heading4Size: 0.60em;

$linkColor: lighten( $headingColor, 10% );
$linkColorHover: lighten( $linkColor, 15% );



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------